<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gymcarry.dao.AdminBoardDao"> 

	<!-- 관리자 게시판 리스트 출력 -->
	<select id = "selectAllAdminBoard"
		resultType="com.project.gymcarry.admin.AdminBoardDto">
		select * from adminboard;
	</select>

	
</mapper>