<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gymcarry.dao.mapper.BoardMapper">


	<!--C : 게시글 작성-->
	<insert id="create">-- 	Dao와 매핑을 위한 ID
		insert into board (postname, postcontent, postnick,boardcategory,memidx)
		value (#{postname} , #{postcontent},#{postnick},#{postnick},#{memidx})
	</insert>

	<!--R : 게시글 출력-->
	<select id="read"
			resultType="com.project.gymcarry.board.BoardDao">	--Data를 받아오기 위한 resultType 명시
		select
		*
		from
		board
		where postidx = #{postidx}
	</select>

	<!--U : 게시글 수정-->
	<update id="update">
		update board set postname =#{postname}, postcontent =#{postcontent}
		where memidx = #{memidx}
	</update>

	<!--D : 게시글 삭제-->
	<delete id="delete">
		delete from board where memidx = #{memidx}
	</delete>

	<!-- List All -->

	<select id="listAll" resultType="com.project.gymcarry.board.BoardDto">
		<![CDATA[  // SQL 내부에 연산자가 있을 경우 사용
	select *
	from board
	where postidx > 0
	order by postidx desc, postdate desc
		]]>
	</select>


</mapper>