<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gymcarry.dao.BoardDao">

	<!-- List All -->
	<select id="selectBoardList" resultType="com.project.gymcarry.board.BoardDto">
		<![CDATA[
	select *
	from board
	where postidx > 0
	order by postidx desc, postdate desc
		]]>
	</select>
	
	
	<!-- 글쓰기 -->
	<insert id="insertBoardWrite"
	parameterType="java.util.HashMap"
	useGeneratedKeys="true"
	keyProperty="postidx">
		insert into board (postname, postcontent, postnick, memidx, boardcategory)
		values (#{postname}, #{postcontent}, #{postnick}, #{memidx}, #{boardcategory})
	</insert>
	
	
	<!-- 게시글 상세 페이지 -->
	<select id="selectBoardDetail" resultType="com.project.gymcarry.board.BoardDto">
		select postidx, postname, postcontent, postnick, memidx, uploadfile, 
			   date_format(postdate, '%Y-%m-%d') as postdate, postview, postlike, boardcategory
			   from board where postidx = #{postidx}
	</select>
	
	
	<!-- 게시물 수정시 입력된 값 그대로 출력 -->
	<select id="selectBoardUpdate"
	resultType="com.project.gymcarry.board.BoardWriteDto">
		select * from board where postidx = #{postidx}
	</select>
	
	
	<!-- 게시물 수정 -->
	<update id="updateBoardContent"
	parameterType="java.util.HashMap"
	useGeneratedKeys="true"
	keyProperty="postidx">
		update board 
		set postname = #{postname}, postcontent = #{postcontent}, boardcategory = #{boardcategory} 
		where postidx = #{postidx};
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="deleteBoard">
		delete from board where postidx = #{postidx};
	</delete>
	


</mapper>