<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gymcarry.dao.MypageDao">

	<!-- 캐리 정보 수정  -->
	<update id="updateCarryModify">
		update carry a , crprice b , crcertification c
		set
		a.crphoto = #{crphoto}, a.crintro = #{crintro}, a.crfield = #{crfield}, a.crdepart = #{crdepart}, a.crplace = #{crplace}, a.crbfphoto = #{crbfphoto},
		b.proprice = #{proprice},
		c.crcerti1 = #{crcerti1}, c.crcerti2 = #{crcerti2}, c.crcerti3 = #{crcerti3}, c.crcerti4 = #{crcerti4}, c.crcerti5 = #{crcerti5}
		where
		cridx = #{cridx}
		    
	</update>



</mapper>