<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gymcarry.dao.PaymentDao"> 
	
	<select id = "paymentPrice"
		resultType="com.project.gymcarry.payment.PaymentDto">
		select payprice from gymcarry.payment where cridx=#{cridx}
	</select>
	
	
	<!-- 결제 정보 등록 -->
	<insert id = "savePayment"
		parameterType="com.project.gymcarry.payment.PaymentDto"
		useGeneratedKeys="true"
		keyProperty="memidx">
		insert into payment (memidx, payname, payphone, cridx, paynum, payprice, fonchoice)
		values (#{memidx}, #{payname}, #{payphone}, #{cridx}, #{paynum}, #{payprice}, #{fonchoice});
	</insert>
	

</mapper>